* @johnluetke
Bylaws.md @IronRiders/mentors @IronRiders/studentleaders
Member Expectations.md @IronRiders/mentors @IronRiders/studentleaders
Mentor Expectations.md @IronRiders/mentors @IronRiders/studentleaders
