* @johnluetke
Bylaws.md @IronRiders/mentors @IronRiders/student-leaders
Member\ Expectations.md @IronRiders/mentors @IronRiders/student-leaders
Mentor\ Expectations.md @IronRiders/mentors @IronRiders/student-leaders
